body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

#hasilContainer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}